.attention__text {
  p {
    color: $black;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

.attention__text_left {
  width: 48%;
  float: left;
}

.attention__text_right {
  width: 48%;
  float: right;
}