extends ../main

block title
	| Главная страница (main.psd)

block content
	article.content-wrapper
		.container
			.main__title
				| Мобильные телефоны
			.main__content

				include ../_common/_sidebar

				.content
					.sort
					.products
			.attention
				.main__title
					| Важная информация
				.attention__text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aliquid architecto cumque delectus dolorum enim ex in inventore, laboriosam neque nostrum praesentium quam quibusdam quisquam ratione saepe sapiente vero vitae voluptatibus! Blanditiis consequatur delectus facere facilis, harum in iure obcaecati pariatur quis ratione temporibus totam vel, vero. Adipisci, alias aliquam animi blanditiis eum, in minus modi neque perferendis praesentium, tempora veritatis vero voluptatibus? Aperiam consectetur delectus dolor ducimus earum est exercitationem, impedit in incidunt inventore magnam magni natus necessitatibus neque numquam officiis possimus sunt suscipit voluptatem voluptates. Aliquid architecto aspernatur consequuntur culpa deserunt iure placeat possimus similique, ut voluptatum!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aliquid architecto cumque delectus dolorum enim ex in inventore, laboriosam neque nostrum praesentium quam quibusdam quisquam ratione saepe sapiente vero vitae voluptatibus! Blanditiis consequatur delectus facere facilis, harum in iure obcaecati pariatur quis ratione temporibus totam vel, vero. Adipisci, alias aliquam animi blanditiis eum, in minus modi neque perferendis praesentium, tempora veritatis vero voluptatibus? Aperiam consectetur delectus dolor ducimus earum est exercitationem, impedit in incidunt inventore magnam magni natus necessitatibus neque numquam officiis possimus sunt suscipit voluptatem voluptates. Aliquid architecto aspernatur consequuntur culpa deserunt iure placeat possimus similique, ut voluptatum!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aliquid architecto cumque delectus dolorum enim ex in inventore, laboriosam neque nostrum praesentium quam quibusdam quisquam ratione saepe sapiente vero vitae voluptatibus! Blanditiis consequatur delectus facere facilis, harum in iure obcaecati pariatur quis ratione temporibus totam vel, vero. Adipisci, alias aliquam animi blanditiis eum, in minus modi neque perferendis praesentium, tempora veritatis vero voluptatibus? Aperiam consectetur delectus dolor ducimus earum est exercitationem, impedit in incidunt inventore magnam magni natus necessitatibus neque numquam officiis possimus sunt suscipit voluptatem voluptates. Aliquid architecto aspernatur consequuntur culpa deserunt iure placeat possimus similique, ut voluptatum!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aliquid architecto cumque delectus dolorum enim ex in inventore, laboriosam neque nostrum praesentium quam quibusdam quisquam ratione saepe sapiente vero vitae voluptatibus! Blanditiis consequatur delectus facere facilis, harum in iure obcaecati pariatur quis ratione temporibus totam vel, vero. Adipisci, alias aliquam animi blanditiis eum, in minus modi neque perferendis praesentium, tempora veritatis vero voluptatibus? Aperiam consectetur delectus dolor ducimus earum est exercitationem, impedit in incidunt inventore magnam magni natus necessitatibus neque numquam officiis possimus sunt suscipit voluptatem voluptates. Aliquid architecto aspernatur consequuntur culpa deserunt iure placeat possimus similique, ut voluptatum!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aliquid architecto cumque delectus dolorum enim ex in inventore, laboriosam neque nostrum praesentium quam quibusdam quisquam ratione saepe sapiente vero vitae voluptatibus! Blanditiis consequatur delectus facere facilis, harum in iure obcaecati pariatur quis ratione temporibus totam vel, vero. Adipisci, alias aliquam animi blanditiis eum, in minus modi neque perferendis praesentium, tempora veritatis vero voluptatibus? Aperiam consectetur delectus dolor ducimus earum est exercitationem, impedit in incidunt inventore magnam magni natus necessitatibus neque numquam officiis possimus sunt suscipit voluptatem voluptates. Aliquid architecto aspernatur consequuntur culpa deserunt iure placeat possimus similique, ut voluptatum!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aliquid architecto cumque delectus dolorum enim ex in inventore, laboriosam neque nostrum praesentium quam quibusdam quisquam ratione saepe sapiente vero vitae voluptatibus! Blanditiis consequatur delectus facere facilis, harum in iure obcaecati pariatur quis ratione temporibus totam vel, vero. Adipisci, alias aliquam animi blanditiis eum, in minus modi neque perferendis praesentium, tempora veritatis vero voluptatibus? Aperiam consectetur delectus dolor ducimus earum est exercitationem, impedit in incidunt inventore magnam magni natus necessitatibus neque numquam officiis possimus sunt suscipit voluptatem voluptates. Aliquid architecto aspernatur consequuntur culpa deserunt iure placeat possimus similique, ut voluptatum!
