.products__grids {

  .products__list{
    border: none;
    overflow: auto;
    @include border-radius(0px);
    margin-left: -11px;
    background: none;
  }

  .products__item-inner {
    padding: 15px 12px;

    &:hover {
      @include box-shadow(0 1px 7.2px 0.8px rgba(153, 153, 153, 0.75));
    }
  }

  .products__item {
    width: 235px;
    background-color: $white;
    border: 1px solid $grey;
    @include border-radius(5px);
    @include inlineblock();
    text-align: center;
    margin-bottom: 11px;
    margin-left: 11px;
  }

  .products__slideshow {
    width: auto;
    text-align: center;
    float: none;
  }

  .products__slideshow-display {
    @include inlineblock();
  }

  .products__slideshow-thumbs {
    @include inlineblock();
    float: none;
  }

  .products__desc {
    width: auto;
    margin-left:0;
    float: none;
  }

  .products__desc-title {
    margin-bottom: 0;
  }

  .products__desc-options {
    margin-bottom: 3px;
  }

  .products__article {
    display: none;
  }

  .products__info-bottom {
    position: static;
    @include clearfix();
    padding: 0 6px;
  }

  .products__left {
    float: none;
    margin-bottom: 10px;
  }

  .products__right {
    position: static;
    width: auto;
  }

  .products__info {
    border: 0 none;
    padding-left: 0;
    margin-bottom: 8px;
  }

  .products__buy-btn {
    float: right;
    margin-bottom: 0;
  }

  .products__availability {
    float: left;
    line-height: 32px;
  }

  .products__option-item {
    @include clearfix();
    color: $black;
    font-size: 14px;
    display: block;
  }

  .products__option-key {
    display: block;
    float: left;
    width: 50%;
    text-align: left;
  }

  .products__option-value {
    display: block;
    float: right;
    width: 50%;
    text-align: right;
  }

  .products__rating {
    margin-bottom: 10px;
  }

  .products__option-item_grey {
    background-color: #e6e6e6;
  }
}