.products__lines {
  .products__slideshow-block, .products__desc-options, .products__rating {
    display: none;
  }

  .products__item-inner, .products__right, .products__info-bottom {
    position: static;
  }

  .products__info {
    border: 0 none;
    padding: 0;
    margin-top: 8px;
    height: auto;
    float: left;
    @include inlineblock(middle);
  }

  .products__item-inner {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover {
      @include box-shadow(0 1px 7.2px 0.8px rgba(153, 153, 153, 0.75));
    }
  }

  .products__left {
    margin-top: 8px;
    width: 390px;
  }

  .products__desc {
    margin-left: 0;
    width: 225px;
  }

  .products__desc-title {
    padding-top: 0;
    margin-bottom: 0;
    line-height: 25px;
    @include open-sans();
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .products__right {
    float: right;
    width: 45%;
    @include inlineblock(middle);
  }


  .products__buy-btn {
    float: right;
    margin-bottom: 0;
    @include inlineblock(middle);
    margin-right: 15px;
  }

  .products__availability {
    float: left;
    margin-left: 25px;
    line-height: 36px;
  }
}

